.off {
  padding: 15px;
  filter: invert(0%);
  color: white;
  border: 0.25vw solid white;
}
.on {
  padding: 15px;
  filter: invert(100%);
  color: white;
  border: 0.25vw solid black;
}

.button {
  font-size: 3vw;
  border-radius: 15px;
  width: fit-content;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: grey;
}
.button:active {
  background-color: white;
}
